---
const { number, title, content, imgNumber, imgAlt } = Astro.props;
---

<article>
  <div class="display-title">
    <div>
      <h2>TIP</h2>
      <h2>{number}</h2>
    </div>
    <h3>{title}</h3>
  </div>

  <p>{content}</p>

  <img id={`tip-img${number}`} src={`../public/svg/img${imgNumber}.svg`} alt={imgAlt} />

</article>
